<ion-view id="userMessagesView" cache-view="false" view-title="<i class='icon ion-chatbubble user-messages-top-icon'></i> <div class='msg-header-username'>{{group.title}}</div>">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="actions()">
      <i class="icon ion-plus-circled light"></i>
    </button>
  </ion-nav-buttons>

  <div class="loader-center" ng-if="!doneLoading">
    <div class="loader">
      <i class="icon ion-loading-c"></i>
    </div>
  </div>

  <!--<ion-content has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll">-->
  <ion-content has-bouncing="true" class="has-header " delegate-handle="userMessageScroll">

    <div ng-repeat="message in messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">

      <div ng-if="user._id !== message.userId">

        <!--<img ng-click="viewProfile(message)" class="profile-pic left" ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" />-->
        <img class="profile-pic left" ng-src="{{message.pic}}" onerror="onProfilePicError(this)" />

        <div class="chat-bubble left">
          <div class="message-detail">
            <!--<span ng-click="viewProfile(message)" class="bold">{{toUser.alias}}</span>,-->
            <span class="bold">{{message.alias}}</span>,
            <span am-time-ago="message.date"></span>
          </div>
          <div class="message" ng-bind-html="message.text | nl2br"></div>
        </div>

      </div>

      <div ng-if="user._id === message.userId">

        <img ng-click="viewProfile(message)" class="profile-pic right" ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />

        <div class="chat-bubble right">
          <div class="message-detail">
            <span ng-click="viewProfile(message)" class="bold">{{user.alias}}</span>,
            <span am-time-ago="message.date"></span>
          </div>
          <div class="message" ng-bind-html="message.text | nl2br"></div>
        </div>

      </div>

      <div class="cf"></div>

    </div>
  </ion-content>

  <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
    <ion-footer-bar class="bar-stable item-input-inset message-footer chat-text" keyboard-attach>
      <label class="item-input-wrapper">
        <textarea ng-model="input.message" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
      </label>
      <div class="footer-btn-wrap">
        <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!input.message || input.message === ''">
        </button>
      </div>
    </ion-footer-bar>
  </form>

</ion-view>