/* **********************************  */
/* ************  GENERAL  ***********  */
/* **********************************  */
body {
    /*cursor: url('http://ionicframework.com/img/finger.png'), auto;*/
}

.scroll {
    height: 100%
}

/* Facebook like color , OVERRIDE ionic CSS */
.bar-header {
    background-color: #3B5999 !important;
    /*color:#ffffff !important; *//* white color default */
}
.header-item {
    color:#ffffff !important;
}

.white-font {
    color: #ffffff;
}

.mobyfy-bk {
    background: url("../img/mobyfy-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.in-the-middle {
    margin-top: 85%;
}

.modal-footer {
    bottom: 15px;
}

.adjust-button {
    margin-top: 0px!important;
}


/*  General Input & From  */
.full-input {
    width: 100%;
}

.divided-item {
    margin-top: 3px;
}

/* **********************************  */
/* *************  CHAT  *************  */
/* **********************************  */


/* override has-tabs */
.no-tabs {
    bottom: 0px;
}

/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
    width: 99%;
}

/* fixes an ios bug bear */
button.ion-android-send {
    padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}

img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
}

img.profile-pic.left {
    left: 10px;
}

img.profile-pic.right {
    right: 10px;
}

.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}

.message {
    font-size: 13px;
}

.message-detail {
    white-space: nowrap;
    font-size: 10px;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}

.message-wrapper {
    position: relative;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

/*.chat-bubble {*/
    /*border-radius: 5px;*/
    /*display: inline-block;*/
    /*padding: 10px 18px;*/
    /*position: relative;*/
    /*margin: 10px;*/
    /*max-width: 80%;*/
/*}*/

.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 2px 5px;
    position: relative;
    margin: 5px;
    max-width: 80%;
}

.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

.chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;
}

.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 55px;
}

.chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}

.msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

input, textarea, .item-input, .item-input-wrapper {
    background-color: #f4f4f4 !important;
}

.bold {
    font-weight: bold;
}

.cf {
    clear: both !important;
}

/*a.autolinker {*/
    /*color: #3b88c3;*/
    /*text-decoration: none;*/
/*}*/

/* loading */
.loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.loader .ion-loading-c {
    font-size: 64px;
}


/*******************
Google Maps & Search
*******************/

.search-card {
    width: 90%;
}

.map-container .scroll {
    height: 100%;
}

.angular-google-map-container {
    /*margin-left: 1%;*/
    /*margin-top: 5px;*/
    width: 100%;
    border: 1px solid black;
    height: 200px;
    /*display: none;*/
}

#searchform {
    z-index: 1900000!important;
    position: absolute!important;
    left: 2px!important;
    bottom: 1px!important;
    width: 99%;
    border: 1px solid black;
}

/* static images */
.maps-image {
    z-index: 10;
    position: absolute;
}

.marker-image {
    z-index: 60;
    position: absolute;
    margin-top: 40px;
    margin-left: 50%;
}

.place-image {
    z-index: 100;
    position: absolute;
    border: 1px solid black;
    margin-top: 60px;
    margin-left: 10px;
}

.select-place {
    z-index: 70;
    /* border: 1px solid black; */
    position: absolute;
    margin-top: 116px;
    margin-left: 40%;
}

/* Google Auto-Completamento */
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: Roboto;
    /*display: none;*/
}